@charset "UTF-8";

body {
	background-color: black;	
	font-family: 'Helvetica', sans-serif;
}

#fullscreen-bg{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:0;
	margin:0;
	overflow: hidden;
	z-index: -1;
}

.video-bg{
	width:100%;
	height:auto;
}

#overlay-bg {
	height:auto;
	width: 100%;
    color: rgba(245, 245, 245, 0.4);
    line-height: 400px;

    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
	text-align: center;
	font-family: 'Rubik Mono One', 'Arial', sans-serif;
    background: url(../images/black-plus-signs.png) repeat; height: auto; width:100%; 
    overflow: hidden;
}

#content {
	position: relative;
	background-color: rgba(192, 192, 192, 0.3);
	padding-top: 10px;
	color: white;
	padding: 10px;
}

#content h1{
	color: rgba(166, 217, 204, 0.9);
	text-shadow: 2px 2px 4px rgba(128, 255, 223, 0.4);
	font-family:'Aldrich', 'Arial', sans-serif;
	text-align: left;
}

#content p{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    letter-spacing: 0.5px;
    color: rgba(257, 257, 257, .7)

}

/* MEDIA QUERIES*/
@media screen and (max-width:1000px){
	#overlay-bg {
		font-size: 2.5rem;
		height: auto;
		width: 100%;
		line-height: 350px;
	}
}


/* Tablet view */
@media screen and (max-width:769px){
	#overlay-bg {
		font-size: 2rem;
		height: auto;
		width: 100%;
		line-height: 300px;
	}

	#content p{
		font-size: 0.9rem;
	}

	#content h1{
		font-size: 1.6rem;
	}

}
@media screen and (max-width:600px) {

}

/* Mobile view */
@media screen and (max-width:480px) {
	#overlay-bg {
		font-size: 1rem;
		height: auto;
		width: 100%;
		line-height: 190px;
		
	}
	
	#fullscreen-bg {
		background: url(../images/water.jpg) no-repeat; 
		background-size: contain;
	}

	.video-bg{
		display: none;
	}

	#content p{
		font-size: 0.7rem;
	}

	#content h1{
		font-size: 1rem;
	}
}
